.homepage {
    background-color: #1C1C1C;
    color: white;
    font-weight: bold;
}

.homepage .jumbotron {
    height: 400px;
    background-image: url('../img/jumbotron.jpg');
}

.homepage .container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 30px;
}

.homepage .card {
    margin-bottom: 35px;
}

.card h2 {
    font-size: 16px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.homepage .card img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
}